body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: gray;
  background-image: url(./anh/thanh.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.rainbow-text {
  font-size: 3em;
  font-weight: bold;
  background: linear-gradient(45deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow 5s linear infinite, move 5s linear infinite;
  transform-style: preserve-3d;
}
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes move {
  0% {
    transform: translateZ(0);
  }
  50% {
    transform: translateZ(-20px);
  }
  100% {
    transform: translateZ(0);
  }
}
.fa-heart {
  color: rgb(250, 56, 88);
  font-size: 600px;
  position: absolute;
  top: 40px;
}
h2 {
  position: absolute;
  display: flex;
  align-self: flex-end;
  font-size: 2.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(16, 156, 46);
}
qr{
  position: absolute;
}
